/*****************************
		BASE
*****************************/

:root {
    --yellow: #FFBC0A;


    --raspberry: #EC0868;


    --pistage: #a7e2cc;
    --darkpistage: #78d3c5;
    --peachred: #ff5c5c;
    --white: #fafafa;
    font-size: 1.2rem;
}


body {
    background: linear-gradient(135deg, var(--pistage) 0%, var(--darkpistage) 29%, var(--peachred) 100%);
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 5%;
}

h1, h2, h3 {
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: uppercase;
}

h1 {
    text-align: center;
}


img {
    max-width: 200px;
}

button {
    background-color: var(--raspberry);
    border: 1px solid var(--raspberry);
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    margin: 10px;
    padding: 15px 40px;
    text-transform: uppercase;
}

button:hover {
    background-color: var(--yellow);
}

button:focus {
    outline: 5px solid var(--yellow);
}


/*****************************
		START PAGE
*****************************/


i {
    text-align: center;
}

.fa-globe {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0%   {
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

/*****************************
		NAVIGATION
*****************************/

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.navigation a {
    box-sizing: border-box;
    color: var(--white);
    font-size: 1.4rem;
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation a:hover {
    background-color: var(--raspberry);
}

.navigation a:focus {
    background-color: var(--raspberry);
}

/*****************************
		CONTINENT
*****************************/

.continent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}


.country {
    align-items: center;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

/*****************************
		RANDOM
*****************************/
.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.random h2 {
    text-align: center;
}

.random ul {
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/

    list-style-type: circle;
    padding: 0;

    /*padding: 0 50px;*/
    /*padding: 50px;*/
}
